doctype html
html
    head
        title = "Lorem Ipsum"
    body
        h2 LoremIpsum
        //img(src = "./loren_ipsum.jpg")
        img(src = "/loren_ipsum.jpg", alt = "Testing Image")
        p.greetings#people Hello World