.details{
    background-color: #a6a6a6;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

li{
    font-style: italic;
}

ul a:hover{
    background-color: #bf80ff; 
}

#submit{
    font-size: 1.2em;
}

.centre{
    text-align: center;
    padding: 10px;
}

.endoftitle{
    border: 2px solid black;
}